<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="libs/fontawesome/css/fontawesome.css"/>
</head>